---
import Layout from '../layouts/Layout.astro';
import DashboardScreen from '../components/DashboardScreen.astro';
---

<Layout>
  <main>
    <DashboardScreen />
  </main>
</Layout>

<style>
  main {
    width: 100%;
    min-height: 100vh;
  }
</style>
